html, body {
  margin: 0;
  padding: 0;
}

header {
  padding: 10px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}

header h1 {
  color: green;
}

main {
  width: 800px;
  margin: 0 auto;
  padding-top: 50px;
}

form > * {
  margin-top: 5px;
  margin-bottom: 5px;
}

label {
  display: block;
}

.validation-error {
  display: none;
  color: red;
  font-size: 80%;
}
