<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <base href="{{ base }}">

    <title>FeedND | Order Pickup Online</title>

    <link href="css/main.css" rel="stylesheet">

    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Feed ND</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="restaurants">Restaurants</a></li>
            <li><a href="orders">Orders</a></li>
            <li><a href="users/me">Account</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div id="alerts"></div>

    <div class="container-fluid theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Feed ND</h1>
        <p>Keep yourself fed by ordering online and picking food up or getting it delivered from great establishments nearby.</p>
      </div>

      <div class="page-header">
        <h1>Restaurants Near You</h1>
      </div>
      <div class="container-fluid">
      <ul class="list-group restaurant-list no-gutter">
	{% block content %}
	{% set i = 0 %}
	{% for restID, dist in restaurants.iteritems() %}
	{% if i == 0 %}
	<div class = "row">
	{% elif i % 3 == 0 %}
	</div>
	<div class = "row">
	{% endif %}
        <li class="list-group-item restaurant-list-item col-md-4">
          <a href="restaurants/{{restID}}/categories">
            <h4 class="list-group-item-heading">
              {{info[restID][4]}}
            </h4>
            <p class="list-group-item-text">{{ info[restID][0] + ', ' + info[restID][1] + ', ' + info[restID][2]}}</p>
            <p class="list-group-item-text">{{ dist }} feet.</p>
          </a>
          <div class="list-group category-sublist"></div>
	</li>
	{% set i = i + 1 %}
	{% endfor %}
	{% endblock %}
      </ul>
      </div>

    </div> <!-- /container-fluid -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    <script src="js/restaurants.js"></script>
  </body>
</html>
