/***************************************
*** General
***************************************/

body{
	background:#000;
	margin:0;
	padding:10px;
	font-family:Arial;
}

#all{
	background:#fff;
	margin: 0px auto;
	min-width: 500px;
	max-width: 800px;
	border: 1px solid #ddd;
}

.clear{
	clear:both;
	width: auto;
	display: block;
	height: 1px;
	font-size: 1px;
}

/***************************************
*** Header
***************************************/

#pageTitle{
	margin: 0;
	font-size: 24px;
	padding: 10px; 
	text-align:center;
	border-bottom: 1px solid #ddd;
}

#pageTitle a{
	text-decoration: none;
	color: #00f;
}

/***************************************
*** Main Menu
***************************************/

#menuBar{
	padding: 10px 0;
	margin: 0;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

#menuBar ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#menuBar ul li{
	display: inline;
	padding: 0 10px;
}

#menuBar ul li a{
	text-decoration:none;
	color: #00f;
	font-weight: bold;
}

/***************************************
*** Content area
***************************************/

#content {
	padding: 10px;
}

#content h2{
	font-size: 20px;
	margin: 0 0 10px 0;
	padding: 0;
}

#content h2 a{
	text-decoration: none;
	color: #00f;
}

#content li a{
	color: #00f;
	text-decoration: none;
}

#content li a:visited{
	color: #66c;
}

.address{
	display:block;
}

.address a{
	text-decoration:none;
}

#similars a:visited{
	color:#00f!important;
}

#content h3{
	margin: 10px 0;
	padding: 0;
	font-size: 18px;
}

.menuItems li{
	margin-bottom: 2px;
}